{% extends 'adminlte/base.html' %}
{% load fontawesome %}
<head>
    {% fontawesome_stylesheet %}
</head>
{% block title %}B P{% endblock %}
{% block content %}

<div class="row">
    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box">
                <span class="info-box-icon bg-aqua">
                    <i>{% fontawesome_icon 'cogs' large=True %}</i>
                </span>
            <div class="info-box-content">
                <span class="info-box-text">CPU Traffic</span>
                <span class="info-box-number">"90"<small>%</small></span>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box">
                <span class="info-box-icon bg-red">
                    <i class="fa fa-google-plus"></i>
                </span>
            <div class="info-box-content">
                <span class="info-box-text">CPU Traffic</span>
                <span class="info-box-number">"90"<small>%</small></span>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box">
                <span class="info-box-icon bg-green">
                    <i>{% fontawesome_icon 'shopping-cart' large=True %}</i>
                </span>
            <div class="info-box-content">
                <span class="info-box-text">CPU Traffic</span>
                <span class="info-box-number">"90"<small>%</small></span>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box">
                <span class="info-box-icon bg-yellow">
                    <i>{% fontawesome_icon 'users' large=True %}</i>
                </span>
            <div class="info-box-content">
                <span class="info-box-text">CPU Traffic</span>
                <span class="info-box-number">"90"<small>%</small></span>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div>
        <label class="col-sm-2 control-label">Name</label>
        <p>{{ address.client.name }}</p>
    </div>
    <div>
        <label class="col-sm-2 control-label">Lastname</label>
        <p>{{ address.client.lastname}}</p>
    </div>
    <div>
        <label class="col-sm-2 control-label">Street</label>
        <p>{{address.street}}</p>
    </div>
    <div>
        <label class="col-sm-2 control-label">Number</label>
        <p>{{address.number}}</p>
    </div>
    <div>
        <label class="col-sm-2 control-label">Building</label>
        <p>{{address.building}}</p>
    </div>
    <div>
        <label class="col-sm-2 control-label">Door</label>
        <p>{{address.door}}</p>
    </div>
    <div>
        <label class="col-sm-2 control-label">Elevator</label>
        <p>{% if address.elevator %}Yes{% else %}No{% endif %}</p>
    </div>
    <div>
        <label class="col-sm-2 control-label">Terrace</label>
        <p>{% if address.terrace %}Yes{% else %}No{% endif %}</p>
    </div>
    <div>
        <label class="col-sm-2 control-label">City</label>
        <p>{{address.city}}</p>
    </div>
    <div>
        <label class="col-sm-2 control-label">State</label>
        <p>{{address.state}}</p>
    </div>
    <div>
        <label class="col-sm-2 control-label">Forklift</label>
        <p>{% if address.forklift %}Yes{% else %}No{% endif %}</p>
    </div>
    <div>
        <label class="col-sm-2 control-label">Forklift Type</label>
        <p>{{address.forklift_type}}</p>
    </div>
    <div>
        <a href="{% url 'addresses:index' %}">
            <button type="button" class="btn btn-block btn-primary">Back</button>
        </a>
    </div>
</div>


{% endblock %}