{% extends 'adminlte/base.html' %}
{% load fontawesome %}
<head>
    {% fontawesome_stylesheet %}
</head>
{% block title %}B P{% endblock %}
{% block content %}



<div class="box-header with-border">
    <form class="form-horizontal" method="post">{% csrf_token %}
        <div class="box-body">
            <div class="form-group">
                <label for="id_client" class="col-sm-2 control-label">Client</label>
                <div class="dropdown col-sm-10">
                    <div class="form-group">
                        <select class="form-control" name="client" id="id_client">
                            {%if not form %}<option value="" selected="">---------</option> {% endif %}
                            {% for client in clients %}
                            <option value="{{client.id}}" {%if client.id == form.client.id %} selected {% endif %}>{{client.name}} {{client.lastname}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="street" class="col-sm-2 control-label">Street</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="street" name="street" placeholder="Street" {%if form %} value="{{ form.street.value }}"{% endif %}/>
                </div>
            </div>
            <div class="form-group">
                <label for="number" class="col-sm-2 control-label">Number</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="number" name="number" placeholder="Number" {%if form %} value="{{ form.number.value }}"{% endif %}>
                </div>
            </div>
            <div class="form-group">
                <label for="building" class="col-sm-2 control-label">Building</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="building" name="building" placeholder="Building" {%if form %} value="{{ form.building.value }}"{% endif %}>
                </div>
            </div>
            <div class="form-group">
                <label for="door" class="col-sm-2 control-label">Door</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="door" name="door" placeholder="Door" {%if form %} value={{ form.door.value }}{% endif %}>
                </div>
            </div>
            <div class="form-group">
                <label for="elevator" class="col-sm-2 control-label">Elevator</label>
                <div class="col-sm-10">
                    <input type="checkbox" class="form-check-input" id="elevator">
                </div>
            </div>
            <div class="form-group">
                <label for="terrace" class="col-sm-2 control-label">Terrace</label>
                <div class="col-sm-10">
                    <input type="checkbox" class="form-check-input" id="terrace">
                </div>
            </div>
            <div class="form-group">
                <label for="city" class="col-sm-2 control-label">City</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="city" name="city" placeholder="City" {%if form %} value={{ form.city.value }}{% endif %}>
                </div>
            </div>
            <div class="form-group">
                <label for="door" class="col-sm-2 control-label">State</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="state" name="state" placeholder="State" {%if form %} value={{ form.state.value }}{% endif %}>
                </div>
            </div>
            <div class="form-group">
                <label for="forklift" class="col-sm-2 control-label">Forklift</label>
                <div class="col-sm-10">
                    <input type="checkbox" class="form-check-input" id="forklift">
                </div>
            </div>
            <div class="form-group">
                <label for="door" class="col-sm-2 control-label">Forklift Type</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="forklift_type" name="forklift_type" placeholder="Forklift Type" {%if form %} value={{ form.forklift_type.value }}{% endif %}>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <a href="{% url 'addresses:index' %}">
                    <button type="button" class="btn btn-block btn-primary">Back</button>
                </a>
            </div>
            <div class="col-sm-6">
                <button type="submit" class="btn btn-block btn-primary" name="saveAddress" value="saveAddress">Save
                </button>
            </div>
        </div>
    </form>
</div>

{% endblock %}