{% extends 'adminlte/base.html' %}

{% block title %}B P{% endblock %}
{% block content %}
<div class="box">
    <div class="box-header">
        <h3 class="box-title"> Addresses </h3>
        <a href="/addresses/new">
            <button type="button" class="btn btn-primary" style="float: right;">Add new address</button>
        </a>
    </div>
    <div class="box-body no-padding">
        <table class="table table-striped">
            <tbody>
            <tr>
                <th>#</th>
                <th>City</th>
                <th>Street</th>
                <th>Client</th>
                <th></th>
                <th></th>
            </tr>
            {% if addresses %}
            {% for address in addresses %}
            <tr>
                <td width="5%"><a href="/addresses/edit/{{ address.id }}">
                    <button type="button" class="btn btn-block btn-primary">{{ address.id }}</button>
                </a></td>
                <td width="25%">{{ address.city }}</td>
                <td width="25%">{{ address.street }}</td>
                <td width="25%">{{ address.client.name }}</td>
                <td width="10%"><a href="/addresses/delete/{{ address.id }}">
                    <button type="button" class="btn btn-danger btn-block">Delete</button>
                </a></td>
                <td width="10%"><a href="/addresses/detail/{{ address.id }}">
                    <button type="button" class="btn btn-info btn-block">Info</button>
                </a></td>
            </tr>
            {% endfor %}
            {% endif %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}